configuration {
    layout: "grid";  /* Change layout only for emoji mode */
    font: "Noto Color Emoji 14"; /* Ensure emoji display properly */
    show-icons: true;
}
@theme "~/.local/share/rofi/themes/launchpad.rasi"
