[Desktop Entry]
Version=1.0
Type=Application
Name=Reaper Mode
Comment=
Exec=%h/.local/bin/toggle-reaper-mode.sh


Icon=cockos-reaper
Path=
Terminal=false
StartupNotify=false
