Use_Label=false
Show_Values=true
Show_Bars=false
Colorize_Values=true
Color_In=rgb(28,113,216)
Color_Out=rgb(153,193,241)
Text=Net
Network_Device=wlp2s0
Max_In=4096
Max_Out=4096
Auto_Max=true
Update_Interval=400
Values_As_Bits=true
Digits=2

